<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>

</head>
<body>
<h2>User List</h2>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Second name</th>
        <th>status</th>
    </tr>


    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.login}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.user_type}"> </td>

    </tr>

</table>
</body>
</html>